@font-face {
  src: url('../../fonts/Inter-Regular.woff2?v=3.15') format('woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url("../../fonts/Inter-Black.woff2?v=3.15") format("woff2");
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  src: url("../../fonts/Inter-Bold.woff2?v=3.15") format("woff2");
  font-family: 'Inter';
  font-style:  normal;
  font-weight: bold;
  font-display: swap;
}

.page {
  background: #2A2C2F;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}