.places {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 92px auto 12px;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 800px) {
  .places {
    max-width: 720px;
  }
}

@media (max-width: 350px) {
  .places {
    max-width: 320px;
  }
}