.header {
  display: flex;
  flex-direction: row;
  margin: 0 48px 56px;
  padding-top: 28px;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}

@media (max-width: 1024px) {
  .header {
    margin: 0 48px 48px;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 0 24px 48px;
  }
}

@media (max-width: 320px) {
  .header {
    margin: 0 16px 48px;
  }
}