.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  text-align: center;
  margin: auto;
}

@media (max-width: 720px) {
   .lead__title {
    max-width: 500px;
    font-size: 70px;
   }
}

@media (max-width: 620px) {
   .lead__title {
    max-width: 400px;
    font-size: 60px;
   }
}

@media (max-width: 550px) {
   .lead__title {
    max-width: 300px;
    font-size: 42px;
  }
}

@media (max-width: 340px) {
   .lead__title {
    max-width: 288px;
    font-size: 40px;
  }
}