.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

.place__paragraph:first-of-type {
  margin-bottom: 18px;
}

@media (max-width: 800px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .place__paragraph {
    margin: 0 16px;
  }
}