.cover {
  margin: 52px auto 92px;
  max-width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center center;
  background-size: cover;
}

@media (max-width: 1040px) {
  .cover {
    margin-top: 60px;
    max-width: 1024px;
   }
}

@media (max-width: 750px) {
  .cover {
    margin-top: 62px;
    margin-bottom: 88px;
   }
}

@media (max-width: 350px) {
  .cover {
    margin-top: 34px;
    margin-bottom: 64px;
   }
}

.cover:hover .cover__overlay {
  opacity: .8;
  transition: .3s;
}