.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
}

@media (max-width: 350px) {
  .place__url-heading {
    margin-left: 16px;
  }
}